<?xml version="1.0" encoding="UTF-8" ?>
<menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.lozyukartem.com/menu"
      xsi:schemaLocation="http://www.lozyukartem.com/menu menu.xsd">
    <salad name="Illusion">
        <ingredient>
            <vegetable>BEET</vegetable>
            <portion>200</portion>
        </ingredient>
        <ingredient>
            <vegetable>CARROT</vegetable>
            <portion>50</portion>
        </ingredient>
        <ingredient>
            <vegetable>EGGPLANT</vegetable>
            <portion>100</portion>
        </ingredient>
        <ingredient>
            <vegetable>SORREL</vegetable>
            <portion>50</portion>
        </ingredient>
    </salad>
    <salad name="Light">
        <ingredient>
            <vegetable>PEPPER</vegetable>
            <portion>30</portion>
        </ingredient>
        <ingredient>
            <vegetable>BEET</vegetable>
            <portion>10</portion>
        </ingredient>
        <ingredient>
            <vegetable>CARROT</vegetable>
            <portion>100</portion>
        </ingredient>
        <ingredient>
            <vegetable>GARLIC</vegetable>
            <portion>50</portion>
        </ingredient>
    </salad>
    <salad name="Vegan+">
        <ingredient>
            <vegetable>BEET</vegetable>
            <portion>200</portion>
        </ingredient>
        <ingredient>
            <vegetable>EGGPLANT</vegetable>
            <portion>50</portion>
        </ingredient>
        <ingredient>
            <vegetable>TOMATO</vegetable>
            <portion>50</portion>
        </ingredient>
    </salad>
    <salad name="Elite">
        <ingredient>
            <vegetable>BEET</vegetable>
            <portion>200</portion>
        </ingredient>
        <ingredient>
            <vegetable>TOMATO</vegetable>
            <portion>350</portion>
        </ingredient>
    </salad>
    <salad name="Sky">
        <ingredient>
            <vegetable>CUCUMBER</vegetable>
            <portion>200</portion>
        </ingredient>
        <ingredient>
            <vegetable>CARROT</vegetable>
            <portion>250</portion>
        </ingredient>
        <ingredient>
            <vegetable>CUCUMBER</vegetable>
            <portion>250</portion>
        </ingredient>
    </salad>
</menu>