<?xml version="1.0" encoding="UTF-8" ?>
<menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.lozyukartem.com/menu"
      xsi:schemaLocation="http://www.lozyukartem.com/menu menu.xsd">
    <salad name="Illusion">
        <vegetable>BEET</vegetable>
        <vegetable>CARROT</vegetable>
        <vegetable>EGGPLANT</vegetable>
        <vegetable>SORREL</vegetable>
    </salad>
    <salad name="Light">
        <vegetable>PEPPER</vegetable>
        <vegetable>BEET</vegetable>
        <vegetable>CARROT</vegetable>
        <vegetable>GARLIC</vegetable>
    </salad>
    <salad name="Vegan+">
        <vegetable>BEET</vegetable>
        <vegetable>EGGPLANT</vegetable>
        <vegetable>TOMATO</vegetable>
    </salad>
    <salad name="Elite">
        <vegetable>BEET</vegetable>
        <vegetable>TOMATO</vegetable>
    </salad>
    <salad name="Sky">
        <vegetable>CUCUMBER</vegetable>
        <vegetable>CARROT</vegetable>
        <vegetable>CUCUMBER</vegetable>
    </salad>
</menu>